@import
	url('https://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans');
@import
    url('https://fonts.googleapis.com/css?family=Spectral+SC');

* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

body {
	margin: 0;
	font-family: 'Calligraffitti', cursive;
	font-size: 20px;
	letter-spacing: 1.2px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.5px;
	margin-left: 5px;
	margin-top: -5px;
}

header {
	height: 55px;
	 background-color: #FE9A2E;
}
header .LB {
    text-align: center;
    margin-top:17.5px;
	color: #000000;
	cursor: pointer;
	cursor: hand;
}

header .IRestauranTO {
	width: 95px;
	height: 55px;
	cursor: pointer;
	cursor: hand;
}

header .Sugerir {
	margin-top:7px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	cursor: hand;
}


header .Buscar {
	margin-top:7.5px;
	margin-bottom:6px;
	background-color: #FFFFFF; 
	heigth:30px;
	border: none;

}

header .search{ 
	margin-top:7px;
	margin-bottom:5px;
	heigth:30px;
}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 60%;
}
header .Login {
	padding: 10px 20px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	cursor: hand;
	outline: none;
	color: #fff;
	background-color: #FF8000;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	position: absolute; right: 3px; top: 6px;
}


header .Login:hover {
	background-color: #DF7401
}

header .Login:active {
	background-color: #DF7401;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

header .Register {
	padding: 10px 15px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	cursor: hand;
	outline: none;
	color: #fff;
	background-color: #FF8000;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	position: absolute; right: 75px; top: 6px;
}


header .Register:hover {
	background-color: #DF7401
}

header .Register:active {
	background-color: #DF7401;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

header .Logout {
	padding: 10px 15px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	cursor: hand;
	outline: none;
	color: #fff;
	background-color: #FF8000;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	position: absolute; right: 3px; top: 6px;
	
}


header .Logout:hover {
	background-color: #DF7401
}

header .Logout:active {
	background-color: #DF7401;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
header .Content {
	display: flex;
}
table.redTable {
  border: 2px solid #A40808;
  background-color: #EEE7DB;
  width: 100%;
  heigth:90%;
  text-align: center;
  border-collapse: collapse;
}
table.redTable td, table.redTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.redTable tbody td {
  font-size: 15px;
}
table.redTable tr:nth-child(even) {
  background: #F5C8BF;
}
table.redTable thead {
  background: #DF3A01;
}
table.redTable thead th {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #DF3A01;
}
table.redTable thead th:first-child {
  border-left: none;
}

table.redTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #DF3A01;
}
table.redTable tfoot td {
  font-size: 15px;
}
table.redTable tfoot .links {
  text-align: right;
}
table.redTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #DF3A01;
  padding: 2px 8px;
  border-radius: 5px;
}
body .Rating {
	margin-left: 14px;
	margin-top: -25px;
}
body .Foto {
	float: left;
	height: 450px;
}
body .Info
{
	margin-left: 14px;
	float: right;
}
body .Cajita {
border: 7px solid #FAAC58;
}
body .Logo{
	margin-top:-20px;
}
footer {
	font-family: 'Open Sans', sans-serif;
	widht: 100%;
	height: 50px;
	background-color: #FE9A2E;
	margin-top: 105px;
	
	
}
table{
	font-family: 'Open Sans', sans-serif;
}
