@import
	url('https://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans')
	;

* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

body {
	margin: 0;
	font-family: 'Calligraffitti', cursive;
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.5px;
}

header {
	height: 55px;
	 background-color: #FE9A2E;
}
header .input {
	
}

header .IRestauranTO {
	width: 95px;
	height: 55px;
	cursor: pointer;
	cursor: hand;
}

header .Sugerir {
	margin-top:7px;
	width: 3%;
	height: 3%;
	cursor: pointer;
	cursor: hand;
}


header .Buscar {
	margin-top:7px;
	background-color: #FFFFFF; 

}

header .search{ 
	margin-top:7px;
}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 60%;
}
header .Login {
	padding: 10px 15px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	cursor: hand;
	outline: none;
	color: #fff;
	background-color: #FF8000;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	position: absolute; right: 3px; top: 3px;
}


header .Login:hover {
	background-color: #DF7401
}

header .Login:active {
	background-color: #DF7401;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
header .Logout {
	padding: 10px 15px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	cursor: hand;
	outline: none;
	color: #fff;
	background-color: #FF8000;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	position: absolute; right: 3px; top: 3px;
	
}


header .Logout:hover {
	background-color: #DF7401
}

header .Logout:active {
	background-color: #DF7401;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
header .Content {
	display: flex;
}
